 h1{
            color:rgb(51, 235, 35)
            font-size: 25px;
        }
        p{
            color: rgb(59, 10, 236);
            font-family: arial, Arial, Helvetica, sans-serif;
        }
        img{
            border: 1px solid rgb(168, 11, 63);
        }